* {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  background: #e0f2f7;
  text-align: center;
  margin-top: 40px;
}

h2 {
  color: white;
  font-size: 20px;
}

.formu {
  display: grid;
  border: 1px solid rgb(158, 158, 245);
  border-radius: 15px;
  background: rgb(133, 185, 214);
  margin: 70px auto;
  padding: 20px;
  box-shadow: 1px 2px 11px 10px rgba(112, 193, 237, 0.817);
  max-width: 500px;
}

form {
  display: grid;
  gap: 10px;
  padding: 20px;
  justify-content: center;
}

input {
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  height: 40px;
  font-size: 17px;
}

#btn {
  cursor: pointer;
}

#btn:hover {
  background: rgb(78, 78, 201);
  color: white;
}

.formu:hover {
  transform: scale(1.02);
}

@media (max-width: 800px) {
  .formu {
    margin: 20px;
  }
}
